<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <properties resource="database.properties"/>
    <settings>
        <setting name="cacheEnabled" value="true"/>
        <setting name="useGeneratedKeys" value="true"/>
        <setting name="mapUnderscoreToCamelCase" value="true"/>
    </settings>
    <typeAliases>
        <package name="com.demo.po"/>
    </typeAliases>
    <typeHandlers>
        <package name="com.demo.handler"/>
    </typeHandlers>
    <plugins>
        <plugin interceptor="com.demo.plugin.DefaultPlugin"></plugin>
        <!--<plugin interceptor="com.demo.plugin.UpdatePlugin"></plugin>-->
    </plugins>
    <environments default="development">
        <environment id="development">
            <transactionManager type="JDBC"/>
            <dataSource type="POOLED">
                <property name="driver" value="${driver}"/>
                <property name="url" value="${url}"/>
                <property name="username" value="${username}"/>
                <property name="password" value="${password}"/>
                <property name="poolMaximumActiveConnections" value="${poolMaximumActiveConnections}"/>
                <property name="poolMaximumIdleConnections" value="${poolMaximumIdleConnections}"/>
                <property name="poolMaximumCheckoutTime" value="${poolMaximumCheckoutTime}"/>
                <property name="poolTimeToWait" value="${poolTimeToWait}"/>
            </dataSource>
        </environment>
        <environment id="test">
            <!--TransactionFactory Transaction -->
            <transactionManager type="JDBC"/>
            <!--PooledDataSourceFactory -->
            <dataSource type="POOLED">
                <property name="driver" value="${driver.test}"/>
                <property name="url" value="${url.test}"/>
                <property name="username" value="${username.test}"/>
                <property name="password" value="${password.test}"/>
            </dataSource>
        </environment>
    </environments>
    <mappers>
        <mapper resource="mapper/blog.xml"/>
    </mappers>
</configuration>